!
version 16.12 
!
service timestamps debug datetime msec 
service timestamps log datetime msec 
service password-encryption 
service internal 
service call-home 
! 
hostname {{ HOSTNAME }}
! 
boot-start-marker 
boot system flash bootflash:c1100-universalk9.16.12.01a.SPA.bin 
boot-end-marker 
! 
no logging console 
enable secret #!$password#!$
aaa new-model 
! 
! 
aaa authentication login no_tacacs line 
! 
clock timezone GMT 0 0 
! 
aaa session-id common 
! 
ip arp proxy disable 
! 
ip vrf mgmt 
no ip domain lookup 
ip domain name rulo.com
! 
login on-success log 
no ipv6 unicast-routing 
! 
subscriber templating 
! 
multilink bundle-name authenticated 
no license feature hseck9 
license udi pid C1109-4PLTE2P sn  
license smart reservation 
memory free low-watermark processor 70293 
! 
diagnostic bootup level minimal 
! 
spanning-tree extend system-id 
! 
redundancy 
 mode none 
! 
interface Loopback0 
 description "MANAGEMENT"
 ip address {{ IP_MGMT }} 255.255.255.255
 no ip proxy-arp 
 ip nat inside 
 no shutdown
! 
interface GigabitEthernet0/0/0 
 description "WAN"
 ip address dhcp
 no ip proxy-arp 
 ip nat outside 
 negotiation auto 
 no shutdown 
! 
interface GigabitEthernet0/1/0 
 description "LAN_USUARIOS"
 ip address {{ IP_DATOS }} 255.255.255.128
 {%- for HELPER in DATA_HELPER %}
 ip helper-address {{ HELPER -}}
 {% endfor %}
 no ip proxy-arp 
 ip nat inside 
 negotiation auto 
 no shutdown 
! 
interface GigabitEthernet0/1/1 
 shutdown 
! 
interface GigabitEthernet0/1/2 
 shutdown 
! 
interface GigabitEthernet0/1/3 
 shutdown 
! 
interface Vlan1 
 no ip address 
 no ip proxy-arp 
 shutdown 
! 
ip forward-protocol nd 
no ip http server 
no ip http secure-server 
!
ip nat inside source list nat_list interface GigabitEthernet0/0/0 overload 
!
ip tacacs source-interface Loopback0 
!
ip ssh version 2 
!
crypto key generate rsa label ssh-2048 modulus 2048 exportable 
!
ip ssh rsa keypair-name ssh-2048 
ip ssh time-out 60 
ip ssh authentication-retries 2 
ip ssh source-interface Loopback0 
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr 
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr 
! 
ip access-list extended nat_list
 10 permit ip {{ SUBRED_SITIO }} 0.0.0.255 any 
! 
snmp-server contact noc@rulo.com
!
logging trap debugging
logging source-interface Loopback0
!
{%- if REGION == 'N' %}
logging host {{ IP_SYSLOG_N -}}
{%- else %}
logging host {{ IP_SYSLOG_S -}}
{% endif %}
!
control-plane 
! 
line con 0 
 session-timeout 30 
 exec-timeout 15 0 
 password #!$password#!$
 login authentication no_tacacs 
 stopbits 1 
!
line vty 0 4 
 exec-timeout 15 0 
 password #!$password#!$
 login authentication no_tacacs 
 transport input ssh 
! 
end
